@import "bourbon";
@import "font-awesome/scss/font-awesome.scss";

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: #1a1a1a;
  font-size: em(12);
}

.container-right {
  background: #eee;
  height: 100%;
  width: 50%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register {
  background: #fefefe;
  padding:2em;
  border-top-left-radius: 1em;
  h1 {
    text-align: center;
    font-weight: 300;
  }
  label {
    display: block;
    font-size: 1.8em;
  }
  input {
    border: 1px solid grey;
    line-height: 3;
    font-size: 1em;
    border-radius: .3em;
    width: 25vw;
    box-shadow: 0 2px 1px darken(white, 10);
  }
  input[type="submit"] {
    border-color: #eee;
    color: #eee;
    line-height: 2;
    background: darken(lightblue, 15);
    font-size: 1.8em;
    font-variant: small-caps;
    font-weight: 800;
    box-shadow: 0 2px 1px darken(lightblue, 1);
  }
}

.container-left {
  color: #eee;
  float: left;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.splash {
  width: 50%;
  h1 {
    color: darken(lightblue, 10);
  }
  p {
    color: #dde;
    font-style: italic;
    line-height: 2;

  }
}
.center {
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
}
.center-item {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.center-item--inner {
  vertical-align: top;
  display: inline-block;
  background: linear-gradient(to top, darken(lightblue, 15) 30%, lightblue);
  width: 14em;
  height: 14em;
  border-radius: 50%;
  border: 4px solid #1e1e1e;
  box-shadow: inset 0 0 0 3px  darken(lightblue, 25);
}
.container-spec {
  background: #eee;
  float:left;
  width: 90%;
  height: 100%;
  color: black;
}
#svg-spec {
  height: 100%;
}

.menu-aside {
  float:left;
  width: 10%;
  height: 100%;
  color: white;
  li {
    padding: 2em 0;
    text-align: center;
    list-style-type: none;
    border-bottom: 1px solid #999;
    i{
      font-size: 3em;
    }
  }
}

