<div class="splash">
  <div class="splash-brand">
    <h1 class="splash-brand--title">
      <p>Hi, this is getSpekt</p>
      <p>And I help you showing your pc config to internet.</p>
    </h1>
    <p class="splash-brand brand-description">
      <img src="brand-description--image" alt="<%= @front_brand_image_text %>" />
    </p>
  </div>
  <form class="splash-form">
    <%# <% render "users/register" %> %>
  </form>
</div>
